@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

$fontCursive: "Dancing Script";

.mainPageContainer {
  min-height: 100vh auto;
}
.infoContainer {
  margin-top: 1.5em;
  h1 {
    margin-bottom: 1em;
  }
}
.businessesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    list-style: none;
  }
}
.state {
  font-family: $fontCursive;
}
